/* Default Styles */
.icon-p {
  position: relative;
  margin-bottom: 5%;
  width: 99%; /* Make it responsive by default */
}

/* Media Queries */

/* Small devices (phones, less than 600px) */
@media (max-width: 599px) {
  .icon-p {
    display: none; /* Hide the icon on mobile screens */
  }
}

/* Medium devices (tablets, 600px to 768px) */
@media (min-width: 600px) and (max-width: 767px) {
  .icon-p {
    margin-bottom: 8%;
    width: 99%; 
  }
}

/* Large devices (desktops, 768px and up) */
@media (min-width: 768px) {
  .icon-p {
    margin-bottom: 5%; /* Default margin */
    width: 99%; /* Full width for large screens */
  }
}

/* Extra Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
  .icon-p {
    margin-bottom: 3%;
    width: 99%; 
  }
}
