/* WhatPulseAICanDo.css */

.WhatPulseAiCanDo {
    height: 100vh;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    padding: 2%;
    position: relative;
  }
  
  .WhatPulseAiCanDo .title {
    position: absolute;
    left: 5%;
    padding-top: 2%;
  }
  

  /* Responsive Text Sizes for .title */
@media (min-width: 1200px) {
  /* Large screens, e.g., desktop */
  .WhatPulseAiCanDo .title span {
    font-size: 3.5vw;
  }
}

@media (min-width: 768px) and (max-width: 1199px) {
  /* Tablets and medium screens */
  .WhatPulseAiCanDo .title span {
    font-size: 4vw;
  }
}

@media (max-width: 767px) {
  /* Mobile screens */
  .WhatPulseAiCanDo .title span {
    font-size: 5.5vw;
  }
}
  
  .WhatPulseAiCanDo .title span {
    font-family: "MADE Tommy Soft";
    font-weight: 700;
    line-height: 1.2em;
    word-wrap: break-word;
  }
  
  /* Responsive Text Sizes */
  @media (min-width: 1200px) {
    /* Large screens, e.g., desktop */
    .WhatPulseAiCanDo .title span {
      font-size: 3.5vw;
    }
    .WhatPulseAiCanDo .content {
      font-size: 2vw;
    }
  }
  
  @media (min-width: 768px) and (max-width: 1199px) {
    /* Tablets and medium screens */
    .WhatPulseAiCanDo .title span {
      font-size: 4vw;
    }
    .WhatPulseAiCanDo .content {
      font-size: 2.5vw;
    }
  }
  
  @media (max-width: 767px) {
    /* Mobile screens */
    .WhatPulseAiCanDo .title span {
      font-size: 5.5vw;
    }
    .WhatPulseAiCanDo .content {
      font-size: 3.5vw;
    }
  }
  
  /* Adjust content position and width */
  .WhatPulseAiCanDo .content {
    position: absolute;
    left: 4%;
    width: 94%;
    max-width: 1378px;
    color: #e9e9e9;
    font-family: Arial;
    font-weight: 700;
    line-height: 1.2em;
    word-wrap: break-word;
    margin-top: 2%;
    padding: 1%;
  }
  
  @media (max-width: 767px) {
    /* Mobile screens */
    .WhatPulseAiCanDo .content {
      top: 20%;
    }
  }
  
  @media (min-width: 768px) and (max-width: 1199px) {
    /* Tablets */
    .WhatPulseAiCanDo .content {
      top: 18%;
    }
  }
  
  @media (min-width: 1200px) {
    /* Desktops */
    .WhatPulseAiCanDo .content {
      top: 14%;
    }
  }
  
  