@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400;500;700&display=swap');

.mainFlex {
    display: flex;
    flex-direction: column;
}

.logoDesign {
    display: flex;
    align-items: center;
}

.logoDesign img {
    border-radius: 50%;
    height: 50px;
    width: 50px;
}

.hero-section {
    display: flex;
    justify-content: left;
    align-items: center;
    text-align: left;
    color: white;
    padding-left: 5%;
    height: 100vh;
    width: 100%;
    position: relative;
    background-size: cover;
    background-position: center;
}

.content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 50%;
}

.typing {
    font-family: 'Orbitron', sans-serif;
    font-size: 48px;
    font-weight: 700;
    margin-bottom: 20px;
    text-transform: uppercase;
    color: #B2F7EF;
    overflow: hidden;
    white-space: nowrap;
    animation: typing 2s steps(12) 0.5s forwards;
}

@keyframes typing {
    from { width: 0 }
    to { width: 100% }
}

@keyframes blink-caret {
    from, to { border-color: transparent }
    50% { border-color: #B2F7EF }
}

.fade-in-text {
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    color: white;
    width: 80%;
    margin-bottom: 40px;
    opacity: 0;
    animation: fadeIn 2s 1s forwards;
}

@keyframes fadeIn {
    to { opacity: 1; }
}

.circuit-overlay {
    position: absolute;
    top: 10%;
    left: 56%;
    right: 0;
    bottom: 0;
    background-size: contain;
    opacity: 0.5;
    animation: pulse 3s infinite;
    border-radius: 50%;
}

@keyframes pulse {
    0%, 100% { transform: scale(1); }
    50% { transform: scale(1.05); }
}

.robot-hand {
    position: absolute;
    right: 0;
    bottom: 0;
    width: 50%;
    animation: slideUp 1.5s forwards;
    opacity: 0;
}

@keyframes slideUp {
    from { opacity: 0; transform: translateY(20px); }
    to { opacity: 1; transform: translateY(0); }
}

.buttons button {
    margin: 10px 10px 10px 0;
    padding: 10px 20px;
    font-size: 16px;
    background-color: #2F5EB5;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.3s ease;
}

.animated-button:hover {
    background-color: #334668;
    transform: translateY(-5px) scale(1.05);
}

.circuit-text {
    font-family: 'Orbitron', sans-serif;
    color: #B2F7EF;
    position: absolute;
    top: 32%;
    left: 60%;
    font-size: 60px;
    z-index: 3;
    animation: pulse 3s infinite;
    animation: slideFadeIn 1s ease-out forwards;
}

@keyframes slideFadeIn {
    from {
        opacity: 0;
        transform: translateY(-20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

/* Media Queries */

/* Mobile Devices - 320px to 480px */
@media (max-width: 480px) {
    .hero-section {
        flex-direction: column;
        padding-left: 2%;
        height: auto;
        text-align: center;
    }

    .content {
        width: 100%;
    }

    .typing {
        font-size: 32px;
        text-align: left;
    }

    .fade-in-text {
        font-size: 16px;
        width: 90%;
        text-align: left;
    }

    .buttons button {
        font-size: 12px;  
        padding: 6px 12px; 
        margin: 50px auto;  
        display: block;  
    }

    .buttons button:hover {
        transform: translateY(-3px) scale(1.05);
    }

    .circuit-overlay {
        top: 40%;
        left: 27%;
        width: 60%;
        height: auto;
        opacity: 0.4;
    }

    .circuit-text {
        font-size: 30px;
        top: 50%;
        left: 36%;
        text-align: center;
    }

.robot-hand {
        width: 80%;
        bottom: 20%;
        opacity: 0.8;
    }
}

/* Tablets - 481px to 768px */
@media (min-width: 481px) and (max-width: 768px) {
    .hero-section {
        flex-direction: column;
        padding-left: 3%;
        height: auto;
        text-align: center;
    }

    .content {
        width: 100%;
    }

    .typing {
        font-size: 36px;
        text-align: center;
    }

    .buttons-button {
        font-size: 15px;
        padding: 10px 18px;
    }

    .animated-button:hover {
        transform: translateY(-4px) scale(1.05);
    }

    .fade-in-text {
        font-size: 18px;
        width: 85%;
        text-align: center;
    }

    .circuit-overlay {
        top: 48%;
        left: 30%;
        width: 50%;
        height: auto;
        opacity: 0.45;
    }

    .circuit-text {
        font-size: 40px;
        top: 64%;
        left: 42%;
        text-align: center;
    }

    .robot-hand {
        width: 80%;
        bottom: 5%;
        opacity: 0.8;
    }
}

@media (min-width: 768px) and (max-width: 1199px) {
    .circuit-overlay {
      top: 10%;
      left: 40%;
      background-size: 75%;
      opacity: 0.6;
      border-radius: 50%;
    }

    .circuit-text {
        top: 22%;
        left: 47%;
    }

  }

  

