/* Gallery.css */
.gallery {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 10px;
  }
  
  .gallery-input {
    margin-bottom: 10px;
  }
  
  .preview {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
  }
  
  .file-preview {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 100px;
  }
  
  .file-preview img,
  .file-preview video {
    max-width: 100%;
    height: auto;
  }
  