.main-wrapper{
    background: url('../../assets/main page/My Team Img.png') ;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-size: cover;
    padding: 2%;
}
.wrapper{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}
.pulse-contain{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}