.carousel-main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow-x: hidden;
  width: 100%;
  margin: 0 auto;
}

.dev-container.active .dev-img {
  transform: scale(1.1);
  padding-bottom: 10px;
}

.dev-img {
  height: 250px;
  width: 100%;
  transition: transform 0.3s ease;
}

.role {
  font-size: 14px;
  color: black;
}

.dev-dot {
  font-size: 40px;
  width: 30px; 
  height: 5px; 
  background-color: #fff;  
  transition: background-color 0.3s ease;
  cursor: pointer;
}

.dev-dot.active {
  background-color: #B78585; 
}

.carousel-wrapper {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 62vw;
  overflow-x: hidden;
  padding: 20px 0;
  scroll-snap-type: x mandatory;
  scroll-behavior: smooth;
  flex-wrap: nowrap;
}

.dev-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  height: 370px;
  width: 300px;
  background: rgba(255, 255, 255, 0.3);
  border: 1px solid #FFFFFF;
  border-radius: 15px;
  margin: 10px 30px;
  scroll-snap-align: start;
  transition: transform 0.3s ease;
  flex: 0 0 auto; /* Prevent shrinking */
}

.dev-container:hover {
  cursor: pointer;
  transform: scale(1.05);
}

.description {
  background: #b78585;
  height: 120px; 
  padding: 10px;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
  color: #ffffff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.name, .role {
  margin: 5px 0;
}

.name {
  font-size: 22px;
  text-transform: uppercase;
}

.dev-dots {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin-top: 20px;
}

.carousel-wrapper::-webkit-scrollbar {
  display: none;
}

/* Media Queries */

/* Mobile Devices - 320px to 480px */
@media (max-width: 480px) {
  .carousel-main {
    padding: 5%;
    height: auto;
  }

  .carousel-wrapper {
    height: 80vh;
    width: 90vw;
  }

  .dev-container {
    height: 350px;
    width: 260px;
  }

  .dev-img {
    height: 210px;
    width: 80%;
  }

  .name {
    font-size: 18px;
  }

  .role {
    font-size: 12px;
  }

  .dev-dot {
    font-size: 30px;
  }
}

/* Tablets - 481px to 768px */
@media (min-width: 481px) and (max-width: 768px) {
  .carousel-main {
    padding: 5%;
    height: auto;
  }

  .carousel-wrapper {
    height: 55vh;
    width: 90vw;
  }

  .dev-container {
    height: 380px;
    width: 280px;
  }

  .dev-img {
    height: 200px;
    width: 100%;
  }

  .name {
    font-size: 20px;
  }

  .role {
    font-size: 13px;
  }

  .dev-dot {
    font-size: 35px;
  }
}

.description {
  font-size: 12px;
  padding: 5px;
}
